-i https://pypi.org/simple/
appdirs==1.4.4
cfgv==3.2.0
distlib==0.3.1
filelock==3.0.12
identify==2.2.1
importlib-metadata==3.7.3 ; python_version < '3.8'
importlib-resources==5.1.2 ; python_version < '3.7'
nodeenv==1.5.0
pre-commit==2.4.0
pyyaml==5.4
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
virtualenv==20.4.3
zipp==3.4.1 ; python_version < '3.8'
